div {
    width: 100px;
    height: 100px;
    margin: 3px;
    padding: 3px;
    border: 1px solid #000;
}

#rgba {
    width: 50%;
    height: 50%;
    background-color: rgba(255, 0, 0, 0.3);
    display: inline-block;
    position: relative;
    bottom: 50px;
}

#opacity {
    width: 50%;
    height: 50%;
    background-color: yellow;
    opacity: 0.3;
    display: inline-block;
    position: relative;
    bottom: 10px;
}

#p1 {
    background-color: chocolate;
    display: inline-block;

}

#p2 {
    background-color: lightblue;
    position: absolute;
    display: inline-block;

}

#p3 {
    background-color: lightgreen;
    display: inline-block;

}

#t1 {
    transition: 1s .3s;
    display: inline-block;

}

#t1:hover {
    border-radius: 50%;
    display: inline-block;

}

#t2 {
    transition: background-color .3s 1s, border-radius 1s;
    background-color: lightcoral;
    display: inline-block;

}

#t2:hover {
    background-color: lightblue;
    border-radius: 30%;
}

#t3 {
    display: inline-block;

}

.timing-function div {
    height: 100px;
    width: 100px;
    background-color: turquoise;
    margin: 20px 0;
    transition: margin-left 3s;
}

.timing-function:hover div {
    margin-left: 500px;
}

#f1 {
    transition-timing-function: ease-in;
}

#f2 {
    transition-timing-function: ease-out;
}

#f3 {
    transition-timing-function: cubic-bezier(.7, 0, .84, 0);
}

#f4 {
    transition-timing-function: cubic-bezier(.85, 0, .15, 1);
}

/* doesn't work */
/* main:nth-last-of-type(1) h1 {
    height: 100px;
    width: 100px auto;
    padding: 5px;
    border: 1px solid #000;
    text-align: center;
}

main:nth-last-of-type(1) h1 :nth-last-of-type(1) {
    transform: rotate(45deg);
} */
h1 {
    background-color: #2a9d8f;
    border: 5px solid #264653;
    color: #eae2b7;
    padding: 0.7em;
    width: 300px;
    font-size: 1.8em;
    text-align: center;
    margin: 20px auto;
    font-family: Courier New;
    font-weight: lighter;
}

h1:nth-of-type(2n) {
    background-color: #e9c46a;
}

h1:nth-of-type(3n) {
    background-color: #f4a261;
}

h1:nth-of-type(4n) {
    background-color: #e76f51;
}

main:nth-of-type(1) h1:nth-of-type(1) {
    transform: rotate(45deg);
}

main:nth-of-type(1) h1:nth-of-type(2) {
    transform: scale(1.5, .5);
}

main:nth-of-type(1) h1:nth-of-type(3) {
    transform: translateX(100px);
}

main:nth-of-type(2) h1:nth-of-type(1) {
    transform: skew(30deg);
}

main:nth-of-type(2) h1:nth-of-type(2) {
    transform: skew(30deg, 30deg);
}

main:nth-of-type(2) h1:nth-of-type(3) {
    transform: rotate(45deg) scale(1.5, .5) translateX(100px);
}