/* * {
    background-color: teal;
} */

body {
    background-color: #fefae0;
}

button {
    font-size: 30px;
    background-color: #606c38;
}

#signup {
    background-color: #283618;
    color: #fefae0;
    font-size: 30px;
}

span {
    color: #bc6c25;
}

.tag {
    color: #dda15e;
}

h1,
h2 {
    color: #283618;
}

h2::first-letter {
    font-size: 1.3em;

}

.post a {
    color: #bc6c25;
    text-decoration: none;
}


footer a {
    color: #c1121f;
}

h2+button {
    font-size: 20px;
    background-color: #c1121f;
}

input[type="password"] {
    background-color: #606c38;
    color: #fefae0;
}

/* 포스트라는 클래스가  있는 섹션만 해당 */
section.post {
    background-color: #606c38;
    color: #fefae0;
}

/* href에 naver가 포함되는 것만 선택 */
a[href*="naver"] {
    color: #606c38;
}

/* href가 .com으로 끝나는 것들만 선택 */
a[href$=".com"] {
    color: #606c38;
}

.post button:hover {
    background-color: #c1121f;
    color: #fefae0;
}


a:hover {
    color: #bc6c25;
    text-decoration: underline;
}

.post button:active {
    background-color: #cdb4db;
}

p::selection {
    background-color: #9d8189;
}